body {
  font-family: Teacher;
  background-color: $OffWhite;
}
.container {
  padding-top: 10px;
  padding-bottom: 60px;
  background-color: $LightGray;
  width: 500px;

  margin: auto;
  border-radius: 10px;
  margin-top: 100px;
  &__textInput {
    margin: auto;
    width: 430px;

    &__title {
      h1 {
        color: $DarkGray;
      }
    }
    &__content {
      &__input {
        input {
          width: 400px;
          height: 40px;
          border: none;
          border-radius: 15px;
          padding-left: 20px;
          font-family: Teacher;
          &:focus {
            outline: none;
          }
        }
        button {
          width: 80px;
          height: 45px;
          border-radius: 15px;
          border: none;
          background-color: $LightOrange;
          color: white;
          margin-left: -80px;
          font-family: Teacher;
          &:hover {
            background-color: $LightGreen;
          }
        }
      }
      &__output {
        margin: auto;
        &__element {
          display: grid;
          grid-template-columns: auto auto;
          align-items: center;
          justify-content: left;
          color: $DarkGray;
          gap: 20px;
          input {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
.footer {
  text-align: center;
  padding-top: 200px;
  color: $DarkGray;
}
