//Primary Color:

$SoftTeal: #4db6ac;
$GentleIndigo: #7986cb;
$SubtleDeepBlue: #536dfe;
//$Secondary Color:

$LightGray: #e0e0e0;
$Silver: #bdbdbd;
//$Accent Colors:

$LightGreen: #a5d6a7;
$LightOrange: #ffb74d;
//Background Color:

$OffWhite: #f5f5f5;
$LightGray: #eeeeee;
//Text Color:

$DarkGray: #424242;
